<div class="lego-shop">
    <%= image_tag "logo.jpg", class: "logo" %>
    <h1 class="logo-label">Collection</h1>

    <div>
        <%= form_tag legos_path, method: :get do %>
            <%= select_tag :order_by, 
            options_for_select([
                ['All', 'all'],
                ['Newest', 'newest'],
                ['Sort by price', 'price'],
                ['Sort by name', 'name'],
                ['Sort by rating', 'rating']
            ], params[:order_by]),
            onchange: 'this.form.submit()', class: "select-form" %>
        <% end %>
    </div>

    <div class="catalog">
        <% @legos.each do |lego| %>
            <%= link_to lego_path(lego), class: "lego-card #{lego.hidden? ? "hidden" : ""}" do %>
                <h2><%= lego.name %></h2>
                <p>Price: <%= number_to_currency(lego.price) %></p>
                <% if lego.opinions.any? %>         
                    <% lego.average_rating.times do %>
                        <span>⭐</span>
                    <% end %>
                <% else %>
                    <p>No reviews yet</p>
                <% end %>

                <% if current_user.admin %>
                    <% if lego.hidden? %>
                        <span class="hidden"></span>
                    <% end %>
                <% end %>
            <% end %>
        <% end %>
    </div>
</div>


<style>
  .lego-shop {
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
    background-color:rgb(223, 223, 161);
    border: 1px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
    font-size: 16px;
    
  }

  .select-form {
    position: absolute;
    top: 100px;
    left: 60%;
    width: 150px;
    height: 30px;
    background-color: rgb(162, 209, 164);
    text-align: center;
  }

  .logo {
    width: 200px;
    height: 200px;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .logo-label {
    position: absolute;
    top: 160px;
    left: 40%;
    margin-left: 10px;
    margin-top: 10px;
  }

  .catalog {
    display: flex;
    flex-wrap: wrap;
    grid-template-columns: auto;
    gap: 20px;
    padding: 20px;
}

  .lego-card {
    width: 300px;
    border: 1px solid #ccc;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #f7ff85;
    transition: transform 0.3s ease;
    transform-origin: center;
    text-decoration: none;
}

  .lego-card:hover {
    transform: scale(1.1);
}

  .lego-card.hidden {
    background-color:rgba(198, 54, 54, 0.42);
    border: 2px;
  }


</style>
