<div class="lego-shop">
    <%= image_tag "logo.jpg", class: "logo" %>
    <h1 class="logo-label">Collection</h1>

    <div>
        <%= form_tag legos_path, method: :get, class: "select-form" do %>
            <%= select_tag :order_by, 
            options_for_select([
                ['All', 'all'],
                ['Newest', 'newest'],
                ['Sort by price', 'price'],
                ['Sort by name', 'name']
            ], params[:order_by]),
            onchange: 'this.form.submit()' %>
        <% end %>

        <% if user_signed_in? && current_user.admin? %>
        <%= link_to "Add new Lego", new_lego_path %>
        <% end %>
    </div>

    <div class="catalog">
        <% @legos.each do |lego| %>
            <%= link_to lego_path(lego), class: "lego-card" do %>
                <h2><%= lego.name %></h2>
                <p>Price: <%= number_to_currency(lego.price) %></p>
            <% end %>
        <% end %>
    </div>
</div>

<style>
  .lego-shop {
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
    background-color:rgb(223, 223, 161);
    border: 1px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
    font-size: 16px;
  }

  .select-form {
    position: absolute;
    top: 100px;
    left: 60%;
    margin-right: 10px;
    margin-top: 10px;
  }

  .logo {
    width: 200px;
    height: 200px;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .logo-label {
    position: absolute;
    top: 160px;
    left: 40%;
    margin-left: 10px;
    margin-top: 10px;
  }
  </style>
