<div class="lego-details">
  <div>
    <% dom_id @lego %>
    <div>
      <h1 class="name"><strong><%= @lego.name %></strong></h1>
    </div>
      <h3 class="name">Product Details: </h3>
      <h2>Price: <%= number_to_currency(@lego.price) %></h2>
      <h2><%= image_tag "block.jpg", class: "block-icon" %>: <%= @lego.details %></h2>
    <div>
      <p><strong><%= @lego.description %></strong></p>
    </div>
    <div>
      <%= image_tag @lego.image_url, alt: @lego.name, class: "lego-image" %>
    </div>

    <div>
      <%= link_to 'Back to Catalog', legos_path, class: "button-back" %>

      <% if user_signed_in? %>
        <%= button_to 'Add to Cart', add_item_cart_path(lego_id: @lego.id), method: :post, class: "button-add" %>
      <% end %>

      <% if user_signed_in? %>
        <% if current_user.opinions.exists?(lego: @lego) %>
          <p>You have already left an opinion for this lego.</p>
        <% else %>
          <%= render 'opinions/form', lego: @lego, opinion: @opinion %>
        <% end %>
      <% end %>
    </div>
      <div>
        <h3>Average Rating: 
          <% @lego.average_rating.times do %>
            ⭐
          <% end %>
          <h2>Opinions:</h2>
        </h3>
          <% @lego.opinions.includes(:user).each do |opinion| %>
            <div class="cart-container">
              <p>User: <%= opinion.user.email %></p>
              <p>Rating: <% opinion.rating.times do %>
                ⭐
              <% end %>
              <p>Opinion: <%= opinion.comment %></p>
              <small>Created at: <%= opinion.created_at.strftime("%d/%m/%Y") %></small>

              <% if opinion.admin_response.present? %>
                <div class="cart-container">
                  <p>Admin Response: <%= opinion.admin_response.comment %></p>
                  <% if user_signed_in? && current_user.admin? %>
                    <%= button_to 'Edit Response', edit_opinion_response_path(opinion), method: :get %>
                    <%= button_to 'Delete Response', opinion_response_path(opinion), method: :delete %>
                  <% end %>
                </div>
              <% end %>

              <% if user_signed_in? && current_user == opinion.user %>
                <%= button_to 'Delete Opinion', lego_opinion_path(@lego, opinion), method: :delete, class: "button-del" %>
                <%= link_to 'Edit Opinion', edit_lego_opinion_path(@lego, opinion), class: "button-edit" %>
              <% end %>

              <% if user_signed_in? && current_user.admin? %>
                <% if opinion.admin_response.nil? %>
                  <%= render "responses/new", opinion: opinion %>
                <% end %>
              <% end %>
            </div>
          <% end %>
      </div>
    </div>
  </div>
</div>

<% if user_signed_in? && current_user.admin? %>
  <%= button_to 'Delete', lego_path(@lego), method: :delete, class: "button-delete" %>
  <%= link_to 'Edit', edit_lego_path(@lego), class: "button-edit-lego" %>
  <%= button_to @lego.hidden? ? 'Unhide' : 'Hide', toggle_hidden_lego_path(@lego), method: :patch, class: "button-visible" %>
<% end %>

<style>
  .lego-details {
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
    background-color:rgba(223, 223, 161, 0.56);
    border: 1px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
    font-size: 16px;
  }

  .cart-container {
  max-width: 800px;
  margin: 2rem auto;
  padding: 20px;
  background: white;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.button-back {
  position: relative;
  left: 600px;
  padding: 8px 16px;
  margin-right: 10px;
  margin-top: 10px;
  border-radius: 4px;
  text-decoration: none;
  display: inline-block;
  background-color:rgb(251, 255, 21);
  border: 1px solid black;
}

.button-add {
  position: relative;
  top: -45px;
  left: 20px;
  width: 150px;
  height: 40px;
  border-radius: 4px;
  text-decoration: none;
  display: inline-block;
  background-color:rgb(86, 232, 252);
  cursor: pointer;
}

.button-delete {
  position: absolute;
  top: 150px;
  right: 20px;
  width: 100px;
  height: 30px;
  border-radius: 4px;
  text-decoration: none;
  display: inline-block;
  background-color: rgb(255, 0, 0);
  color: white;
  border: none;
}

.button-visible {
  position: absolute;
  top: 200px;
  right: 20px;
  width: 100px;
  height: 30px;
  border-radius: 4px;
  text-decoration: none;
  display: inline-block;
  background-color: rgb(68, 246, 255);
  border: none;
}

.button-edit-lego {
  position: absolute;
  top: 250px;
  right: 20px;
  width: 100px;
  height: 30px;
  border-radius: 4px;
  text-decoration: none;
  display: inline-block;
  background-color: rgb(52, 36, 36);
  color: white;
  border: none;
  text-align: center;
}

.block-icon {
  width: 50px;
  height: 50px;
  margin-right: 5px;
}

.name {
  font-size: 35px;
  margin-bottom: 10px;
  color: #333;
  text-align: center;
  font-weight: bold;
  font-family: Arial, sans-serif;
}

.button-edit {
  position: relative;
  left: 330px;
  top: -40px;
  width: 150px;
  height: 36px;
  border-radius: 4px;
  text-decoration: none;
  display: inline-block;
  background-color:rgb(168, 218, 241);
  border: 2px solid black;
  text-align: center;
}

.button-del {
  position: relative;
  left: 500px;
  width: 150px;
  height: 40px;
  border-radius: 4px;
  text-decoration: none;
  display: inline-block;
  background-color:rgb(246, 111, 111);
}

.lego-image {
  max-width: 600px;
  max-height: 600px;
  display: block;
  margin: 0 auto;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  background-color: white;
}
</style>
